
doctype html

html(ng-app="dash")
    head
        meta(name="viewport", content="width=device-width", initial-scale="1.0")
        meta(charset="utf-8")
        base(href="/")
        link(rel="stylesheet", href="/public/bower/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/public/styles/styles.css")
        
        //- Go through the dependnencies and check all of them 
        //- TODO Shim the external modules into the browserify build? Hmmh.. yeah, why not.
        script(src="/public/bower/angular/angular.min.js")
        script(src="/public/bower/angular-ui-router/release/angular-ui-router.min.js")
        script(src="/public/bower/angular-cookies/angular-cookies.min.js")
        script(src="/public/bower/angular-bootstrap-select/build/angular-bootstrap-select.min.js")
        script(src="/public/bower/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/socket.io.js")
        script(src="/public/js/index.min.js")
        
    body 
        div
            //- Renders the state related HTML here - for example the dashboard.html
            div(ui-view)
