//- The dashboard itself will be placed under the div, this is where we'll build the content 
div(ui-view)
    div(ng-hide="true") 
        //- Leave the hidden login here. Saves lives with gapi, believe me... it doesn't like angular + angular-ui-routers
        //- way of handling the DOM and gets all angry about it. What a douche. Geesh..
        div
            div(id="embed-api-auth-container")


    div
        //- header with the navigation
        header-navigation(dashboards="dashboards", logout="logout", select="selectDashboard")

    div(ng-show="dashboards.length >= 1").dash-content
        //- Dashoard - the actual content area -- I start building it from the dashboard parts the minute we get on it
        div(ng-repeat="rows in dashboardComponents")
            //- Dynamically defining the col-md from the column objects size
            div(ng-repeat="column in rows", class="col-md-{{ column.size }}").widget-container
                //- Widgets get removed from the DOM completely when the type does not match, per column one widget 
                //- is active
                widget-image(component="column") 
                widget-frame(component="column")
                widget-analytics(component="column")
        
    //- Showing the advert when user is logged in and has zero dasboards
    div(ng-hide="dashboards.length >= 1").dash-content
        company()

    div
        footer-navigation(dashboard="dashboard")
        