body {
    background-color: #F2F2F2;

}

iframe {
    width: 100%;
}

img {
    width: 150px;
}

.dash-header {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #444;
}

.widget-container {
    border: 1px solid #EDEDED;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.widget {
    min-height: 200px;
    width: 100%;
}

.widget-iframe {
    height: 100%;
}

.widget-image {

}

.widget-analytics {
    
}