iframe {
    width: 100%;
    border: none;
    min-height: 500px;
}

img {
    width: 150px;
}

.dash-content {
    margin-top: 70px;
}

.dash-footer {
  background: #080808;
  color: #fff;
  margin: 0 -15px;
  padding: 15px;
  text-align: center;
}

.text-footer p, .text-footer ul {
  display: inline-block;
  margin: 0;
  padding: 0;
} 

.text-footer li {
  display: inline-block;
  padding: 0 0 0 15px;
}

.text-footer a:link, .text-footer a:visited, .text-footer:hover, .text-footer a:focus, .text-footer a:active {
  color: #fff;
}

.widget-container {
}

.widget {
    min-height: 333px;
    width: 100%;
    padding: 3px;
}

.widget-iframe {
    height: 100%;
}

.widget-image {

}

.widget-analytics {
    
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header-columns {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}