body {
    background-color: #F2F2F2;

}

iframe {
    width: 100%;
}

img {
    width: 150px;
}

.dash-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;

    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #444;
}

.dash-content {
    position: relative;
    top: 40px;
}

.dash-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #444;
    color: #FFFFFF;
}

.text-footer {
    margin-left: 10px;
}

.widget-container {
    border: 1px solid #EDEDED;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.widget {
    min-height: 200px;
    width: 100%;
    padding: 3px;
}

.widget-iframe {
    height: 100%;
}

.widget-image {

}

.widget-analytics {
    
}