div.advert
    div.col-md-12
        span Unfortunately you do not seem to have a Dashboard created for you.. Would you like to have a marketing dashboard for all your analytical needs?
    
    div.col-md-4    
        span Call
    div.col-md-8
        span 
            //- TODO company phone number information from db instead of the mock hard-coded values
            a(href="tel:+000") +000
            
    div.col-md-4
        span Email
    div.col-md-8
        span
            //- TODO company phone number information from db instead of the mock hard-coded values
            a(href="mailto:no@mail.com", target="_top") no@mail.com
        
    div.col-md-4
        span Company
    div.col-md-8
        //- TODO company name from db instead of the mock hard-coded values
        span FooBar
