div.dash-header
    //- I'm pretty sure we are not going to use the bootstrap colums here but I used em for now for place holding 
    //- Logo / info area
    div.col-md-8
        span COMPANY_NAME_LOGO 
    
    //- Displaying the dropdown for the dashboards only in the situations where there are more than one of them
    div.col-md-2
        div(dropdown).btn-group
            button(type="button", dropdown-toggle).btn.btn-primary.dropdown-toggle
                span Dashboard
                span.caret
            ul(role="menu").dropdown-menu
                li(ng-repeat="dashboard in dashboards")
                    a(href="#", ng-bind="dashboard.name", ng-click="select(dashboard);")

    //- logout
    div.col-md-2
        //- TODO call gapi.auth.blah.blah to logout the user 
        button(type="button", ng-click="logout()").btn.btn-default
            span Logout