nav.dash-header.navbar.navbar-inverse.navbar-fixed-top
  div.container-fluid
    div.navbar-header  
      //- Logo
      a(href="#").navbar-brand
        span Berlytics Dashboard
                
    div.collapse.navbar-collapse.navbar-right  
      ul.nav.navbar-nav      
        //- Displaying the dropdown for the dashboards only in the situations where there are more than one of them             
            
        li(dropdown).dropdown
          a(href, dropdown-toggle).dropdown-toggle 
            span Valitse dashboard
            span.caret
          ul(role="menu").dropdown-menu
            li(ng-repeat="dashboard in dashboards")
              a(href="#", ng-bind="dashboard.name", ng-click="select(dashboard);")
        
          //- logout
          li
            button(type="button", ng-click="logout()").btn.btn-primary.navbar-btn
              span Kirjaudu ulos
