div.dash-header
    //- I'm pretty sure we are not going to use the bootstrap colums here but I used em for now for place holding 
    //- Logo / info area
    div.float-left
        span COMPANY_NAME_LOGO 
    
    //- logout
    div.float-right.header-columns
        button(type="button", ng-click="logout()").btn.btn-default
            span Logout

    //- Displaying the dropdown for the dashboards only in the situations where there are more than one of them
    div.float-right.header-columns
        div(dropdown).btn-group
            button(type="button", dropdown-toggle).btn.btn-primary.dropdown-toggle
                span Dashboard
                span.caret
            ul(role="menu").dropdown-menu
                li(ng-repeat="dashboard in dashboards")
                    a(href="#", ng-bind="dashboard.name", ng-click="select(dashboard);")
