//- landing page for the dashboard 
div(ui-view)
    div
        //- logo
        div.col-md-12
    
    div
        div.col-md-8
            h3 Dashboard
        div.col-md-4
            h3 Login
            section(id="auth-button")
            button(type="button", ng-click="login()")
 
    div
        div.col-md-4
            h3 Plan your marketing
        div.col-md-4
            h3 Follow systematically
        div.col-md-4
            h3 Follow up
