//- landing page for the dashboard 
div(ui-view).container-fluid
nav.dash-header.navbar.navbar-inverse
  div.container-fluid
    div.navbar-header

      //- Logo
      a(href="#").navbar-brand
        span Berlytics Dashboard
      
    div.collapse.navbar-collapse.navbar-right  
      button(type="button", ng-click="logout()").btn.btn-primary.navbar-btn
        span Kirjaudu ulos

div.row
  div.col-md-4
  
  div.col-md-4
    div.panel.panel-default.login-panel
      div.panel-heading
        h1.panel-title Kirjaudu
      div.panel-body
        p Kirjaudu sisään Berlytics Dashboardiin Google Analytics tunnuksillasi.
        div(id="embed-api-auth-container")
        
  div.col-md-4