div(ng-if="isActive").widget-analytics.widget
    div
        span(ng-bind="component.title")
    div
        //- TODO START WORKING ON THIS MONSTER >:(
    div
        span(ng-bind="component.label")
    