div.dash-footer
    div.text-footer
        div(ng-show="dashboard")
          p Yhteyshenkilösi: 
          ul
            li               
              span(ng-bind="dashboard.customer_representive.first_name") 
                span &nbsp;
              span(ng-bind="dashboard.customer_representive.last_name")
            li
              a(href="mailto:{{ dashboard.customer_representive.email }}", target="_top") {{ dashboard.customer_representive.email }}
            li
              a(href="tel:{{ dashboard.customer_representive.phone_number }}") {{ dashboard.customer_representive.phone_number  }}